<!DOCTYPE html>
<html>
<head>
    <title>Main Home Page</title>
</head>
<body>
    <h1>Welcome to the Blogging Tool</h1>
    <a href="/author">Author Home Page</a>
    <a href="/reader">Reader Home Page</a>
</body>
</html>
