<!DOCTYPE html>
<html>
<head>
    <title>Main Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Welcome to the Blogging Tool</h1>
        <a href="/author" class="btn btn-primary mb-3">Author Home Page</a>
        <a href="/reader" class="btn btn-secondary mb-3">Reader Home Page</a>
    </div>
</body>
</html>
