.gradient-button {
    background: linear-gradient(to right, #007bff, #00c6ff);
    border: none;
    color: white;
}

.gradient-button:hover {
    background: linear-gradient(to left, #007bff, #00c6ff);
}
